# 
#      ______          __             ______   __  ______  _                 __     
#     / ____/___  ____/ /__  _____   / ____/  / / / / / /_(_)___ ___  ____ _/ /____ 
#    / __/ / __ \/ __  / _ \/ ___/  /___ \   / / / / / __/ / __ `__ \/ __ `/ __/ _ \
#   / /___/ / / / /_/ /  __/ /     ____/ /  / /_/ / / /_/ / / / / / / /_/ / /_/  __/
#  /_____/_/ /_/\__,_/\___/_/     /_____/   \____/_/\__/_/_/ /_/ /_/\__,_/\__/\___/ 
#                                                                                                                 
# Modded Ender 5 Plus from Creality for ABS/ASA with speed and quality in mind.
# 
# Using Zero-G CoreXY and Voron inspired style.
# Illuminated using the Quinled Dig Quad v3.
# 
# TODO (ordered by importance):
# - [] New Chain carriage
#   - [] X axis needs better endclip and probably new clip for the hotend
#   - [] Y axis needs to be closer to the case for the hat (needs reinforcement braces)
#   - [] Z axis has no chain carriage concept yet; needs a generious one sometimes in the far future
# - [] Nema 17 1.8deg 65Ncm 2.1A Steppers for XY
# - [] Nema 14 Pancake Stepper for Extruder
# - [] New hat that can be partially opened, or fully removed - easily (panels must be less than 300x300 for laser cutting)
# - [] New side skirts
# - [] 4x noctua 40mm lower valance (also get some VHB tape when you're already at it)
# - [] Increase volumetric flow rate to 30~60mm³; get a Dragon or Mosquito hotend (currently maxing out with 15mm³)
# - [] Improved rail adapters for electronics (less fiddely and stronger)
# - [] Toxense exhaust system
# - [] Get a Zero-G serial number (print 2 colored plate for it)
# 

[include printer/ender-5-ultimate.cfg]
[include printer/steppers.cfg]
[include printer/350.cfg]

[include printer/adxl345.cfg] # NIU

##################################################################
# External (Display/Beeper)
###

[include printer/emulated_st7920.cfg]
[include printer/beeper.cfg]

##################################################################
# BondTech Geared Extruder (or knockoff)
###

[include printer/bmg.cfg]

##################################################################
# Z endstop
###

#[include printer/bltouch.cfg]
[include printer/probe.cfg]

##################################################################
# Homing
###

#[include printer/physical-endstops.cfg]
[include printer/sensorless-homing.cfg] # WIP

##################################################################
# Speed limits
###

#[include printer/speed-limits-basic.cfg]
[include printer/speed-limits-normal.cfg]
#[include printer/speed-limits-performance.cfg]

##################################################################
# Additional Components
###

[include timelapse.cfg]

##################################################################
# Macros
###

[include macros/accel-reset.cfg]
[include macros/autoexec.cfg]
[include macros/cancel-print.cfg]
[include macros/dump-warnings.cfg]
[include macros/end-print.cfg]
[include macros/g29.cfg]
[include macros/home.cfg]
[include macros/m300.cfg]
[include macros/park.cfg]
[include macros/pause.cfg]
[include macros/power-off-printer.cfg]
[include macros/prime-line.cfg]
[include macros/reject-print.cfg]
[include macros/resume.cfg]
[include macros/smarthome.cfg]
[include macros/start-print.cfg]

# For testing only, not requried
[include macros/test-kinematics.cfg]

##################################################################
# Extra icing
###

[include printer_extras/lcd.cfg]
[include printer_extras/led.cfg]
[include printer_extras/voron.cfg]

##################################################################
# For the vibes 🎶
###

[include printer_extras/tunes/print-start.cfg]
[include printer_extras/tunes/print-end.cfg]
[include printer_extras/tunes/print-cancel.cfg]
[include printer_extras/tunes/various.cfg]

##################################################################
# Additionals, overwrites & SAVE_CONFIG
###

[bed_mesh]
horizontal_move_z: 10

[probe]
z_offset: 7.7

# [input_shaper]
# shaper_freq_x: 43.6
# shaper_type_x: mzv
# shaper_freq_y: 57.6
# shaper_type_y: 3hump_ei

# shouldnt be needed anymore
#[menu __main __octoprint]
#type: list
#name: OctoPrint
#enable: false

[extruder]
rotation_distance: 23.415
nozzle_diameter: 0.600
pressure_advance: 0.04

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.928
#*# pid_ki = 2.376
#*# pid_kd = 128.359
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.166250, 0.135000, 0.112500, 0.117500, 0.181250, 0.235000, 0.311250
#*# 	  0.112500, 0.083750, 0.058750, 0.075000, 0.127500, 0.192500, 0.291250
#*# 	  0.076250, 0.007500, -0.026250, -0.007500, 0.045000, 0.133750, 0.255000
#*# 	  0.037500, -0.012500, -0.046250, -0.041250, 0.021250, 0.100000, 0.221250
#*# 	  0.065000, 0.020000, -0.027500, -0.023750, 0.041250, 0.122500, 0.226250
#*# 	  0.092500, 0.076250, 0.048750, 0.053750, 0.111250, 0.181250, 0.277500
#*# 	  0.068750, 0.077500, 0.082500, 0.090000, 0.146250, 0.193750, 0.260000
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 7
#*# max_y = 325.0
#*# mesh_x_pps = 2
#*# max_x = 325.0
