
##################################################################
# The current state of this config is expecting a stock Zero-G
# setup without any endstops added.
# This might change with better "metal-to-metal" stoppers
# and not "metal-to-plastic" that wear out.
# You should tune SGTHRS for yourself, see:
# https://www.klipper3d.org/TMC_Drivers.html?h=sensorles#tuning
##

[safe_z_home]
z_hop: 6

[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_max: 380
position_endstop: 380
homing_retract_dist: 0
homing_speed: 80

[tmc2209 stepper_x]
driver_SGTHRS: 140

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_max: 390
position_endstop: 390
homing_retract_dist: 0
homing_speed: 80

[tmc2209 stepper_y]
driver_SGTHRS: 180
